In [7]:
# Market Basket Analysis Practice

In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [9]:
from mlxtend.preprocessing import TransactionEncoder

In [6]:
pip install mlxtend

Collecting mlxtend
  Downloading https://files.pythonhosted.org/packages/4c/0d/4a73b8bc49e2cfee178fe50dd8e84d5ba817d0b2454b09308397416e0e48/mlxtend-0.17.3-py2.py3-none-any.whl (1.3MB)
Requirement already satisfied: setuptools in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from mlxtend) (41.4.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from mlxtend) (1.16.5)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from mlxtend) (0.21.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from mlxtend) (3.1.1)
Requirement already satisfied: joblib>=0.13.2 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from mlxtend) (0.25.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: six in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.12.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.17.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import seaborn as sns

In [3]:
pd.set_option('display.max_columns', 100)

In [69]:
df =pd.read_csv(r"C:\Users\spark2\Desktop\Me\York\M3_DataMining\Association Analysis\4Rule_Generation.csv")

In [41]:
# https://pbpython.com/market-basket-analysis.html

In [42]:
df.head(2)

   TID                            Items
0      1   {Milk, Burgers, Buns, Ketchup}
1      2  {Burgers, Buns, Ketchup, Coals}

In [89]:
type(df)

pandas.core.series.Series

In [70]:
df.columns = ['TID', 'Items']

In [66]:
# Need to clean it up

In [71]:
df = df['Items'].str.replace('{','').str.replace('}','').str.replace(' ','')
data = list(df.apply(lambda x:x.split(',')))

In [72]:
df.head(1)

0    Milk,Burgers,Buns,Ketchup
Name: Items, dtype: object

In [73]:
print(data)

[['Milk', 'Burgers', 'Buns', 'Ketchup'], ['Burgers', 'Buns', 'Ketchup', 'Coals'], ['Milk', 'Buns', 'Beer'], ['Burgers', 'Beer', 'Buns', 'Coals'], ['Milk', 'Ketchup'], ['Milk', 'Beer', 'Burgers', 'Buns', 'Ketchup', 'Coals'], ['Beer', 'Burgers', 'Buns', 'Ketchup', 'Coals'], ['Milk', 'Buns'], ['Burgers', 'Buns', 'Ketchup'], ['Beer', 'Burgers', 'Ketchup', 'Coals']]

In [86]:
data

[['Milk', 'Burgers', 'Buns', 'Ketchup'],
 ['Burgers', 'Buns', 'Ketchup', 'Coals'],
 ['Milk', 'Buns', 'Beer'],
 ['Burgers', 'Beer', 'Buns', 'Coals'],
 ['Milk', 'Ketchup'],
 ['Milk', 'Beer', 'Burgers', 'Buns', 'Ketchup', 'Coals'],
 ['Beer', 'Burgers', 'Buns', 'Ketchup', 'Coals'],
 ['Milk', 'Buns'],
 ['Burgers', 'Buns', 'Ketchup'],
 ['Beer', 'Burgers', 'Ketchup', 'Coals']]

In [88]:
type(data)

list

In [76]:
te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df1 = pd.DataFrame(te_data, columns=te.columns_)
df1

    Beer   Buns  Burgers  Coals  Ketchup   Milk
0  False   True     True  False     True   True
1  False   True     True   True     True  False
2   True   True    False  False    False   True
3   True   True     True   True    False  False
4  False  False    False  False     True   True
5   True   True     True   True     True   True
6   True   True     True   True     True  False
7  False   True    False  False    False   True
8  False   True     True  False     True  False
9   True  False     True   True     True  False

In [77]:
# Generate support table minsup > 0.25
df2 = apriori(df1, min_support = 0.25, use_colnames= True)

In [78]:
df1.shape

(10, 6)

In [79]:
df2.shape

(30, 2)

In [81]:
df2.head(10)

   support         itemsets
0      0.5           (Beer)
1      0.8           (Buns)
2      0.7        (Burgers)
3      0.5          (Coals)
4      0.7        (Ketchup)
5      0.5           (Milk)
6      0.4     (Beer, Buns)
7      0.4  (Beer, Burgers)
8      0.4    (Beer, Coals)
9      0.3  (Beer, Ketchup)

In [83]:
df3 = association_rules (df2, metric = 'confidence', min_threshold = 0.5)
df3

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Beer),(Buns),0.5,0.8,0.4,0.800000,1.000000,0.00,1.000000
1,(Buns),(Beer),0.8,0.5,0.4,0.500000,1.000000,0.00,1.000000
2,(Beer),(Burgers),0.5,0.7,0.4,0.800000,1.142857,0.05,1.500000
3,(Burgers),(Beer),0.7,0.5,0.4,0.571429,1.142857,0.05,1.166667
4,(Beer),(Coals),0.5,0.5,0.4,0.800000,1.600000,0.15,2.500000
...,...,...,...,...,...,...,...,...,...
98,"(Ketchup, Burgers)","(Buns, Coals)",0.6,0.4,0.3,0.500000,1.250000,0.06,1.200000
99,"(Buns, Coals)","(Ketchup, Burgers)",0.4,0.6,0.3,0.750000,1.250000,0.06,1.600000
100,"(Buns, Burgers)","(Ketchup, Coals)",0.6,0.4,0.3,0.500000,1.250000,0.06,1.200000
101,"(Coals, Burgers)","(Ketchup, Buns)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.250000
102,(Coals),"(Ketchup, Buns, Burgers)",0.5,0.5,0.3,0.600000,1.200000,0.05,1.250000

In [85]:
# Filter association rules (antecedent) = 'Coals'

df3_coals = df3[df3['antecedents'] == {'Coals'}]
df3_coals

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
5,(Coals),(Beer),0.5,0.5,0.4,0.8,1.600000,0.15,2.50
10,(Coals),(Buns),0.5,0.8,0.4,0.8,1.000000,0.00,1.00
15,(Coals),(Burgers),0.5,0.7,0.5,1.0,1.428571,0.15,inf
20,(Coals),(Ketchup),0.5,0.7,0.4,0.8,1.142857,0.05,1.50
30,(Coals),"(Beer, Buns)",0.5,0.4,0.3,0.6,1.500000,0.10,1.50
35,(Coals),"(Beer, Burgers)",0.5,0.4,0.4,0.8,2.000000,0.20,3.00
45,(Coals),"(Beer, Ketchup)",0.5,0.3,0.3,0.6,2.000000,0.15,1.75
50,(Coals),"(Buns, Burgers)",0.5,0.6,0.4,0.8,1.333333,0.10,2.00
61,(Coals),"(Ketchup, Buns)",0.5,0.5,0.3,0.6,1.200000,0.05,1.25
66,(Coals),"(Ketchup, Burgers)",0.5,0.6,0.4,0.8,1.333333,0.10,2.00
79,(Coals),"(Beer, Buns, Burgers)",0.5,0.3,0.3,0.6,2.000000,0.15,1.75
91,(Coals),"(Beer, Ketchup, Burgers)",0.5,0.3,0.3,0.6,2.000000,0.15,1.75
102,(Coals),"(Ketchup, Buns, Burgers)",0.5,0.5,0.3,0.6,1.200000,0.05,1.25