In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 100)

In [37]:
train =pd.read_csv(r"C:\Users\spark2\Desktop\Me\York\M3_DataMining\W2_tools\spam.csv", encoding='iso-8859-1')

In [38]:
train.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [48]:
# Extract number of words
train['word_count'] = train['v2'].apply(lambda x: len(str(x).split(" ")))
train[['v2', 'word_count']].head()

                                                  v2  word_count
0  Go until jurong point, crazy.. Available only ...          20
1                      Ok lar... Joking wif u oni...           6
2  Free entry in 2 a wkly comp to win FA Cup fina...          28
3  U dun say so early hor... U c already then say...          11
4  Nah I don't think he goes to usf, he lives aro...          13

In [42]:
# Check number of characters, **this also includes spaces
train['char_count'] = train['v2'].str.len()
train[['v2', 'char_count']].head()

                                                  v2  char_count
0  Go until jurong point, crazy.. Available only ...         111
1                      Ok lar... Joking wif u oni...          29
2  Free entry in 2 a wkly comp to win FA Cup fina...         155
3  U dun say so early hor... U c already then say...          49
4  Nah I don't think he goes to usf, he lives aro...          61

In [44]:
# Average word length
# Take sum of the length of all the words and divide it by the total length of sentence
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['v2'].apply(lambda x: avg_word(x))
train[['v2', 'avg_word']].head()

                                                  v2  avg_word
0  Go until jurong point, crazy.. Available only ...  4.600000
1                      Ok lar... Joking wif u oni...  4.000000
2  Free entry in 2 a wkly comp to win FA Cup fina...  4.571429
3  U dun say so early hor... U c already then say...  3.545455
4  Nah I don't think he goes to usf, he lives aro...  3.769231

In [54]:
# Number of stopwords
import nltk as nltk

In [52]:
pip install --user -U nltk

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/92/75/ce35194d8e3022203cca0d2f896dbb88689f9b3fce8e9f9cff942913519d/nltk-3.5.zip (1.4MB)
Requirement already satisfied, skipping upgrade: click in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from nltk) (7.0)
Requirement already satisfied, skipping upgrade: joblib in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from nltk) (0.13.2)
Collecting regex (from nltk)
  Downloading https://files.pythonhosted.org/packages/9c/d1/d2ecb51a8cb38c8278e77a2731c1366881e0dea9671f135d2625f15a73a4/regex-2020.7.14-cp37-cp37m-win_amd64.whl (268kB)
Requirement already satisfied, skipping upgrade: tqdm in c:\users\spark2\appdata\local\continuum\anaconda3\lib\site-packages (from nltk) (4.36.1)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py): started
  Building wheel for nltk (setup.py): finished with status 'done'
  Created wheel for nltk: filename=nltk-3.5-cp37-none-any.whl size=1434679 sha256=55b530895e8deee7210c7ee53585b717925aa3ef1bb9971f17392ab115c18356
  Stored in directory: C:\Users\spark2\AppData\Local\pip\Cache\wheels\ae\8c\3f\b1fe0ba04555b08b57ab52ab7f86023639a526d8bc8d384306
Successfully built nltk
Installing collected packages: regex, nltk
Successfully installed nltk-3.5 regex-2020.7.14
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script nltk.exe is installed in 'C:\Users\spark2\AppData\Roaming\Python\Python37\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [55]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['v2'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['v2', 'stopwords']].head()

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - 'C:\\Users\\spark2/nltk_data'
    - 'C:\\Users\\spark2\\AppData\\Local\\Continuum\\anaconda3\\nltk_data'
    - 'C:\\Users\\spark2\\AppData\\Local\\Continuum\\anaconda3\\share\\nltk_data'
    - 'C:\\Users\\spark2\\AppData\\Local\\Continuum\\anaconda3\\lib\\nltk_data'
    - 'C:\\Users\\spark2\\AppData\\Roaming\\nltk_data'
    - 'C:\\nltk_data'
    - 'D:\\nltk_data'
    - 'E:\\nltk_data'
**********************************************************************